[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HCmodelSets"]
	path = HCmodelSets
	url = https://github.com/hhhelfer/hcmodelsets
	subdir = HCmodelSets
